<launch>

  <include file="$(find astra_launch)/launch/astra.launch"/>

  <arg name="marker_size" default="8.0" />
  <arg name="max_new_marker_error" default="0.05" />
  <arg name="max_track_error" default="0.05" />

  <arg name="cam_image_topic"      default="/camera/rgb/image_raw" />
  <arg name="cam_info_topic"       default="/camera/rgb/camera_info" />

  <arg name="output_frame"         default="/base_link" />
  <arg name="bundle_files" default="$(find pushing)/bundles/tags0_5.xml"/>

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg bundle_files)" />

  <node name="base_to_camera_tf" pkg="tf" type="static_transform_publisher" args="-0.03 0.0 0.18 0 0 0 /base_link /camera_link 100" />

</launch>
